* {
    font-family: roboto;
}

body {
    width: 1000px;
}

ul {
    padding: 0;
}

a {
    padding: 10px;
    color: #e5e7eb;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px;
    width: 1000px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-top .left {
    font-size: 24px;
    color: #f9faf8;
    margin: auto 0;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
}
.header-bottom div {
    flex: 1;
    margin: 20px;
}

.header-bottom .right {
    text-align: center;
    background-color: gray;
    padding: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-sec {
    font-size: 18px;
    color: #e5e7eb;
}

.header-bottom button {
    background-color: #3882F6;
    border-radius: 20px;
    border-style: none;
    padding: 5px 25px;
    color: #f9faf8;
}

div.information {
    padding: 20px 60px;
    text-align: center;
}

div.illustrations {
    display: flex;
    justify-content: center;
}

div.illustrations div {
    width: 150px;
    margin: 25px;
}

div.illustrations img {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 20px;
}

div.quote {
    background-color: #E5E7EB;
    width: 800px;
    padding: 50px 120px;
}

p.author {
    text-align: end;
}

div.call-to-action-in {
    margin: 50px 100px;
    background-color: #3882F6;
    border-radius: 20px;
    padding: 25px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.call-to-action-in button {
    color: #E5E7EB;
    border-color: #e5e7eb;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 25px;
}

div.call-to-action-in p.main {
    font-size: larger;
    font-weight: bolder;
    color: #f9faf8;
}

div.call-to-action-in p.secondary {
    color: #E5E7EB;
}